<% if @current_user %>

<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <div class="mb-3">
    <%= form.label "name", :class => "form-label" %>
    <%= form.text_field "name", :class => "form-control" %>
  </div>
  <p>
    <%= form.submit "Create Place", :class => "btn btn-primary" %>
  </p>
<% end %>

<% else %>

<div class="alert alert-primary" role="alert">
  Please <a href="/login" class="alert-link">login</a> to continue.
</div>

<% end %>